= link_to post_path(post.id) do
  .Mypost-item
    .Mypost-prof
      .Mypost-prof__name
        = post.user.profile.nickname
      .Mypost-prof__time
        = post.created_at.strftime("%Y/%m/%d %H:%M")
    .Mypost-item__title
      = post.title
    .Mypost-item__text
      = post.content
    .Mypost-item__empathy-count
      %p
        = post.liked_users.count
        %span
          人が共感しています