.posts
  - @posts.each do |post|
    .Post
      .User-prof
        .User-prof__name
          = post.user.profile.nickname
        .User-prof__time
          = post.created_at.strftime("%Y/%m/%d %H:%M")
      .Post__title
        = link_to post_path(post.id) do
          = post.title
      .Post__text
        = post.content
      .Empathy
        %p.Empathy__text
          共感
        = icon('fas', 'heart', class: 'Empathy__icon')
        %p.Empathy__number 10