.posts
  .Post
    .User-prof
      .User-prof__name
        = @profile.nickname
      .User-prof__time
        2020/08/20 10:10
    .Post__title
      体重が減らない！
    .Post__text
      体重が減りません。ダイエットしているのですがなかなか効果が出ません。同じ悩みを持っている人はいませんか？
    .Empathy
      %p.Empathy__text
        共感
      = icon('fas', 'heart', class: 'Empathy__icon')
      %p.Empathy__number 10

  .Post
    .User-prof
      .User-prof__name
        = @profile.nickname
      .User-prof__time
        2020/08/20 10:10
    .Post__title
      体重が減らない！
    .Post__text
      体重が減りません。ダイエットしているのですがなかなか効果が出ません。同じ悩みを持っている人はいませんか？
    .Empathy
      %p.Empathy__text
        共感
      = icon('fas', 'heart', class: 'Empathy__icon')
      %p.Empathy__number 10

  .Post
    .User-prof
      .User-prof__name
        = @profile.nickname
      .User-prof__time
        2020/08/20 10:10
    .Post__title
      体重が減らない！
    .Post__text
      体重が減りません。ダイエットしているのですがなかなか効果が出ません。同じ悩みを持っている人はいませんか？
    .Empathy
      %p.Empathy__text
        共感
      = icon('fas', 'heart', class: 'Empathy__icon')
      %p.Empathy__number 10

  .Post
    .User-prof
      .User-prof__name
        = @profile.nickname
      .User-prof__time
        2020/08/20 10:10
    .Post__title
      体重が減らない！
    .Post__text
      体重が減りません。ダイエットしているのですがなかなか効果が出ません。同じ悩みを持っている人はいませんか？
    .Empathy
      %p.Empathy__text
        共感
      = icon('fas', 'heart', class: 'Empathy__icon')
      %p.Empathy__number 10
