.User
  %h1
    =link_to "relief", root_path
    
  .User__wrapper
    %h2 ユーザー情報編集
    = form_with model: current_user, local: true do |f|
      - if current_user.errors.any?
        .edit-errors
          %ul
            - current_user.errors.full_messages.each do |user|
              %li= user
      
      .Name-form
        .Name-form__wrapper
          %ul.Name-form__field
            %li 名字
            %li.Name-form__required 必須
          = f.text_field :last_name, class: "Name-form__input"
        .Name-form__wrapper
          %ul.Name-form__field
            %li 名前
            %li.Name-form__required 必須
          = f.text_field :first_name, class: "Name-form__input"

      .Name-form
        .Name-form__wrapper
          %ul.Name-form__field
            %li 名字(かな)
            %li.Name-form__required 必須
          = f.text_field :last_name_kana, class: "Name-form__input"
        .Name-form__wrapper
          %ul.Name-form__field
            %li 名前(かな)
            %li.Name-form__required 必須
          = f.text_field :first_name_kana, class: "Name-form__input"

      .User-form
        %ul.User-form__field
          %li メールアドレス
          %li.User-form__required 必須
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "User-form__input"

      .User-form
        %ul.User-form__field
          %li パスワード
          %li.User-form__required 必須
        = f.password_field :password, autocomplete: "new-password", placeholder: '6文字以上', class: "User-form__input"

      .Information.Information--right
        .Information__submit
          = f.submit "登 録 す る", class: "Information__submit--btn"
