.header-wrapper
  .Header
    %h1.Header__title
      =link_to "relife", root_path
    
    .Header__items
      - if user_signed_in?
        %p
          = current_user.profile.nickname
        %p
          = link_to "マイページ", user_path(current_user.id)
        %p
          = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %p
          = link_to "新規登録", new_user_registration_path
        %p
          = link_to "ログイン", new_user_session_path