= render "header"
= render "notifications"
.top-wrapper
  .Post-btn
    = link_to new_post_path, class: "Post-btn__link" do
      .Post-btn__items
        %p.Post-btn__items--text
          投稿する
        = icon('fas', 'plus', class: 'Post-btn__items--icon')

  .hero-wrapper
    .Hero
      %p.Hero__message.Hero__message--large
        もう1人で悩まないで
      %p.Hero__message
        今の悩みを共有しましょう
      %p.Hero__message
        意外と簡単に解決するかもしれません
  
  .main-wrapper
    .Post-index-btn
      = link_to posts_path, class: "Post-index-btn__link" do
        %p.Post-index-btn__text
          投 稿 一 覧 へ
    
    .post-recent-wrapper
      %h2 
        最 新 投 稿
      .post-recent-holder
        = render partial: "posts/post", collection: @posts