.Post-item
  .Post-prof
    .Post-prof__name
      = link_to user_path(post.user.id) do
        = post.user.profile.nickname
    .Post-prof__time
      = post.created_at.strftime("%Y/%m/%d %H:%M")
  .Post-item__title
    = link_to post_path(post.id) do
      = post.title
  .Post-item__text
    = post.content
  .Post-item__empathy-count
    %p
      = post.liked_users.count
      %span
        人が共感しています
