= render "home/header"
.post-show-wrapper
  .post-holder
    .Post-item
      - if current_user.id == @post.user_id
        .post-btn-list
          .Post-btn
            = link_to edit_post_path(@post), class: "Post-btn__link" do
              %p.Post-btn__text 編集
          .Post-btn
            = link_to "#", class: "Post-btn__link" do
              %p.Post-btn__text 削除
      .Post-prof
        .Post-prof__name
          = link_to user_path(@post.user.id) do
            = @post.user.profile.nickname
        .Post-prof__time
          = @post.created_at.strftime("%Y/%m/%d %H:%M")
      .Post-item__title
        = @post.title
      .Post-item__text
        = @post.content
      - if current_user
        .Post-empathy
          %p.Post-empathy__text 共感
          - if current_user.already_liked?(@post)
            = link_to post_like_path(@post), class: "Post-empathy__link, Post-empathy__link--red", method: :delete do
              = icon('fas', 'heart', class: 'Post-empathy__icon')
          - else
            = link_to post_likes_path(@post), class: "Post-empathy__link, Post-empathy__link--gray", method: :post do
              = icon('fas', 'heart', class: 'Post-empathy__icon')
          %p.Post-empathy__number
            = @post.likes.count
  = render "comment_form"